.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Colonnes flexibles */
    gap: 30px;
    padding: 20px;
}

/* Styles pour la carte d'article */
.card-article {
    width: 250px; /* Largeur fixe */
    height: 425px; /* Hauteur fixe */
    border: 2px solid #D2A15F;
    border-radius: 15px;
    background-color: #D2A15F;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    transition: .8s;
    position: relative;
    margin-top: 20px;
}

.card-article:hover {
    transform: translateY(-5px);
}

.card-article .image {
    width: 246px;
    height: 180px;
    min-height: 180px;
    background: #FCEDB1;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-article .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 15px;
    box-sizing: border-box;
}

.card-article h2 {
    color: #1B0D03;
    font-size: 1.4rem;
    margin: 8px;
}

.card-article p {
    color: #1B0D03;
    font-size: 14px;
    margin: 4px 8px 8px 8px;
}

.card-article .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 4px;
}

.card-article .tag {
    background-color: #FCEDB1;
    color: #1B0D03;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9em;
}

.card-article .price {
    font-size: 1.2em;
    font-weight: bold;
}

.card-article .promo-price {
    color: #BC7C44;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: line-through;
}

.card-article .discount {
    color: #D2A15F;
    font-size: 1em;
}

.card-article button {
    background-color: #5662EA;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.7s ease;
    opacity: 0;
}
.card-article button:disabled {
     cursor: not-allowed;
 }

.card-article .cart-achat {
    position: absolute;
    left: 8px;
    bottom: 12px;
}

.card-article .cart-button {
    position: absolute;
    right: 8px;
    bottom: 12px;
}

.card-article:hover button {
    opacity: 1;
    transform: translateY(-5px);
}

.card-article:has(button:disabled) {
    border: 2px solid #D2A15F;
    background-color: #D2A15F;
}

.card-article .price {
    position: absolute;
    bottom: 10px;
}

.card-article .price.price-discounted {
    left: 70px;
    color: #4A760C;
}

.card-article .price.price-original {
    color: #BB2D3B;
}


/* Fond de la modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenu principal de la modal */
.modal-content {
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);    overflow: hidden;
    animation: fadeIn 0.3s ease-out;
}

/* En-tête de la modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--bg-color);
    color: white;
    font-size: 18px;
}

.modal-header h2 {
    margin: 0;
}

.modal-header .close-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s;
}

.modal-header .close-btn:hover {
    color: #ffcccc;
}

/* Contenu de la modal */
.modal-body {
    padding: 20px;
}

.modal-body table {
    width: 100%;
    border-collapse: collapse;
}

.modal-body th,
.modal-body td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.modal-body th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.modal-body input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Pied de la modal */
.modal-footer {
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.modal-footer button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.modal-footer button.cancel-btn {
    background-color: #ff5a5f;
    color: white;
}

.modal-footer button.cancel-btn:hover {
    background-color: #e43a3f;
}

.modal-footer button {
    background-color: #5662EA;
    color: white;
}

.modal-footer button:hover {
    background-color: #3f4db7;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}