.carousel-top {
    padding: 60px 20px 20px 20px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    position: relative;
    margin-top: 120px;
    width: 90%;
    height: 52vh;
    margin-inline: auto;
    mask-image: linear-gradient(
            to right,
            rgba(0,0,0,0),
            rgba(0,0,0,1) 20%,
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,0)
    );
}

.carousel-top menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.carousel-top li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.carousel-top .box-img {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-top .box-img img {
    width: 130px;
    height: auto;
}

.carousel-top .cards {
    position: absolute;
    margin-right: 45px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.9s;
    animation: carrousel 60s linear infinite;
    left: 100%;
    cursor: pointer;
}

.carousel-top .cards:hover {
    transform: translateY(-5px);
    background: rgba(252, 237, 177, 0.5);
    transition: 0.9s;
}

.carousel-top .cards:hover .tags span {
    background: white;
    transition: 0.9s;
}

.carousel-top .cards .textarea {
    width: 100%;
    padding: 5px 15px 10px 15px;
}

.carousel-top .cards .tags {
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
}

.carousel-top .cards .tags span {
    background: rgba(252, 237, 177, 0.5);
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 12px;
    transition: 0.9s;
}

.carousel-top .cards .details {
    display: flex;
    flex-direction: column;
}

.carousel-top .cards .details .title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.carousel-top .cards .details .desc {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    text-align: center;
}

.carousel-top .cards .details span {
    color: #e74c3c;
    font-weight: bold;
    text-decoration: line-through;
    display: flex;
}
.carousel-top .cards .details p {
    color: #2ecc71;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
}
.carousel-top .cards .details .price {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    transform: translateX(12px);
    margin: 5px;
}

.carousel-top .cards .details .actions {
    display: flex;
    justify-content: space-around;
}

.carousel-top .cards .details .actions button svg {
    color: #643118;
}

.carousel-top .cards .details .actions button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D2A15F;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: transparent;
    transition: background-color 0.3s;
    font-size: 24px;
    z-index: 100;
}
.carousel-top .cards .details button:last-child {
    padding: 11px;
}

.carousel-top .cards .details a:hover {
    background-color: #D2A15F;
}

/* Product Details Section */
.product-details {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-details > div {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.product-details h2 {
    margin-bottom: 20px;
    font-size: 84px;
    color: #555;
}

.product-details p {
    margin-bottom: 20px;
    font-size: 64px;
    color: #555;
    font-weight: 700;
}

.animation-promo {
    top: -35px;
    left: -35px;
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    animation: scale 2.2s linear infinite;
    z-index: 1000000000;
}

.animation-promo p {
    position: absolute;
    top: calc(50% - 22px);
    font-size: 45px;
    font-weight: 700;
    color: #1B0D03;
    transform: rotate(-17deg);
}

.box {
    padding: 53px;
    position: absolute;
    background: #7B9C64
}

.--rotate-0 { transform: rotate(0deg);}
.--rotate-15 { transform: rotate(15deg);}
.--rotate-30 { transform: rotate(30deg);}
.--rotate-45 { transform: rotate(45deg);}
.--rotate-60 { transform: rotate(60deg);}
.--rotate-75 { transform: rotate(75deg);}

@keyframes scale {
    0% {
        transform: scale(0.4);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(0.4);
    }
}

@keyframes carrousel {
    to {
        left: -250px;
    }
}
