.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Crée 6 colonnes de largeur égale */
    gap: 30px;
    padding: 20px;
}

/* Styles pour la carte d'article */
.card-article {
    width: 250px; /* Largeur fixe */
    height: 375px; /* Hauteur fixe */
    border: 2px solid #D2A15F;
    border-radius: 15px;
    background-color: #D2A15F;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    transition: .8s;
    position: relative;
    margin-top: 20px;
}

.card-article:hover {
    transform: translateY(-5px);
}

.card-article .image {
    width: 246px;
    height: 180px;
    min-height: 180px;
    background: #FCEDB1;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-article .image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 15px;
    box-sizing: border-box;
}

.card-article h2 {
    color: #1B0D03;
    font-size: 1.4rem;
    margin: 8px;
}

.card-article p {
    color: #1B0D03;
    font-size: 14px;
    margin: 4px 8px 8px 8px;
}

.card-article .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 4px;
}

.card-article .tag {
    background-color: #FCEDB1;
    color: #1B0D03;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 0.9em;
}

.card-article .price {
    color: #A26437;
    font-size: 1.2em;
    font-weight: bold;
}

.card-article .promo-price {
    color: #BC7C44;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: line-through;
}

.card-article .discount {
    color: #D2A15F;
    font-size: 1em;
}

.card-article button {
    background-color: #5662EA;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.7s ease;
    opacity: 0;
}
.card-article button:disabled {
     cursor: not-allowed;
 }

.card-article .cart-achat {
    position: absolute;
    left: 8px;
    bottom: 12px;
}

.card-article .cart-button {
    position: absolute;
    right: 8px;
    bottom: 12px;
}

.card-article:hover button {
    opacity: 1;
    transform: translateY(-5px);
}

.card-article:has(button:disabled) {
    border: 2px solid #D2A15F;
    background-color: #D2A15F;
}

.card-article .price {
    position: absolute;
    bottom: 10px;
}

.card-article .price.price-discounted {
    left: 70px;
    color: #4A760C;
}

.card-article .price.price-original {
    color: #BB2D3B;
}
