.main-container {
    flex: 1; /* Prend tout l'espace disponible entre le header et le footer */
    display: flex;
    flex-direction: column;
}


footer.footer {
    width: calc(100% - 150px);
    background-color: var(--bg-color); /* Couleur de fond équivalente à bg-gray-800 */
    transform: translateX(100px);
    padding: 35px 25px;
}

footer .footer-container {
    display: flex; /* Aligner les éléments sur la même ligne */
    justify-content: space-between; /* Texte à gauche et liens à droite */
    align-items: center; /* Centrer verticalement */
}

footer .footer-text {
    margin: 0; /* Supprimer la marge par défaut */
    font-size: 0.875rem; /* Police équivalente à text-sm */
    color: var(--text-color);
}

footer .footer-links {
    display: flex; /* Aligner les liens horizontalement */
    gap: 16px; /* Espacement entre les liens, équivalent à space-x-4 */
}

footer .footer-link {
    display: flex; /* Pour aligner l'icône à côté du texte */
    align-items: center;
    font-size: 0.875rem; /* Taille de la police */
    color: var(--text-color);
    text-decoration: none; /* Supprimer le soulignement par défaut sur les liens */
    transition: color 0.3s ease; /* Animation de changement de couleur */
}

footer .footer-link:hover {
    color: white /* Changement de couleur au survol (bleu) */
}

footer .icon {
    width: 20px; /* Taille de l'icône */
    height: 20px;
    margin-right: 8px; /* Espacement entre l'icône et le texte */
}