h2, p, span, a, svg {
    font-family: 'Poppins', sans-serif;
    color: #1B0D03;
    text-decoration: none;
}

.promo {
    background: #C7D1A5;
    padding: 5px;
    position: fixed;
    width: 100%;
    height: 24px;
    z-index: 1000;
}

.promo p {
    text-align: center;
    color: #1B0D03;
    font-weight: 700;
}

.header {
    position: fixed;
    width: 100%;
    top: 24px;
    right: 0;
    z-index: 1000;
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
    background: rgba(199, 209, 165, 0.6);
}

.header:hover {
    background: rgb(199, 209, 165);
}

.logo {
    position: relative;
    width: 120px;
}

.logo img {
    width: 100px;
    height: auto;
    position: absolute;
    top: -62px;
}

.navlist * {
    transition: all .7s ease-out;
}

.navlist {
    display: flex;
}

.navlist a, .navlist label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all .3s ease-out;
    text-decoration: none;
    flex-direction: column;
}

.navlist label i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    z-index: 200;
}

.navlist label:hover i {
    background: #7B9C64;
    transform: translateX(-280px);
    transition: all .7s ease-out;
    border: 1px solid black;
    border-radius: 50%;
}

.navlist a i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    text-align: center;
}

.navlist a i svg, .navlist label i svg {
    font-size: 35px;
    transition: all .7s ease-out;
}

.navlist a span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    display: flex;
    transition: all .3s ease-out;
    position: absolute;
    transform: translateY(10px);
    opacity: 0;
}

.navlist label span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    display: flex;
    transition: all .3s ease-out;
    position: absolute;
    opacity: 0;
    z-index: 110;
}

.navlist a:hover span {
    display: inline-block;
    transition: all .5s ease-out;
    transform: translateY(-30px);
    opacity: 1;
}

.navlist label:hover span {
    transition: all .5s ease-out;
    opacity: 1;
}

.navlist label span input {
    background: #7B9C64;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    z-index: 100;
    border-collapse: unset;
    text-indent: 65px;
    font-size: 26px;
}

.navlist label:hover span input {
    width: 620px;
}

.navlist label:has(input:focus) i {
    background: #7B9C64;
    transform: translateX(-280px);
    transition: all .7s ease-out;
    border: 1px solid black;
    border-radius: 50%;
}

.navlist label:has(input:focus) span {
    opacity: 1;
}

.navlist label:has(input:focus) span input {
    opacity: 1;
    width: 620px;
}

.navlist label span input::placeholder {
    color: #1B0D03;
}

.navlist label:has(input:focus + input:has(input:empty)) span {
    opacity: 1;
}

.navlist label:has(input:focus + input:has(input:empty)) span input {
    opacity: 1;
    width: 620px;
}

.nav-btn {
    display: inline-block;
    padding: 9px 24px;
    background: transparent;
    border: 2px solid #1B0D03;
    border-radius: 7px;
    color: #1B0D03;
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
}

.nav-btn:hover {
    transform: translateY(-5px);
}

#menu-icon {
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}