* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
    height: 100vh;
}

.left-page {
    flex: 1;
    position: relative;
    background-color: #f4f4f4;
}

.left-page img {
    margin: 30px;
    display: block;
    width: 30%;
    padding: 30px;
}

.error {
    position: absolute;
    display: none;
}

.right-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container h2 {
    font-size: 36px;
    text-align: center;
    margin: 25px;
}

.box-input {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.email-input {
    position: relative; /* Référentiel pour le label et le bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.email-input input {
    width: 100%;
    border: none;
    background: #c8c8c8;
    opacity: 50%;
    padding: 30px 0 5px 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid black;
    font-size: 22px;
}

.email-input label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 12px;
    color: black;
}

.email-input input::selection {
    border: none;
}

.email-input button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.email-input button img {
    width: 40px;
    height: 40px;
}

.password-input {
    position: relative; /* Référentiel pour le label et le bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.password-input input {
    width: 100%;
    border: none;
    background: #c8c8c8;
    opacity: 50%;
    padding: 30px 0 5px 10px;
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid black;
    font-size: 22px;
}

.password-input label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 12px;
    color: black;
}

.password-input button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.password-input button img {
    width: 40px;
    height: 40px;
}

.box-btn {
    margin: 25px;
}