nav {
    position: fixed;
    width: 100px;
    height: 100%;
    background: var(--bg-color);
}

nav .burger {
    position: absolute;
    top: -75px;
    left: calc(50% - 25px);
}

nav .burger svg {
    font-size: 50px;
    color: var(--text-color);
}

.slider {
    background: var(--bg-color);
    height: 100%;
    width: 100px;
    transition: 1s;
}

.slider.active {
    height: 100%;
    width: 360px;
    transition: 1s;
}

.slider label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.slider label .separator {
    background: var(--text-color);
    width: 80px;
    height: 2px;
    margin: 20px 10px;
    transition: 1s;
}

.slider label .separator.first {
    margin: 0 10px 20px 10px;
}

.slider .separator.last {
    position: absolute;
    bottom: 250px;
}

.slider.active .separator {
    width: 334px;
    transition: 1s;
}

.slider label ul li a {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.slider label ul li a svg {
    font-size: 40px;
    color: var(--text-color);
    margin: 20px 0;
}

.slider label ul li a p {
    position: absolute;
    transition: 1s;
    font-size: 24px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    overflow: hidden;
    animation: disappear 1s ease-in-out forwards;
}

.slider.active label ul li a {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.slider.active label ul li a p {
    left: 100px;
    font-size: 24px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: var(--text-color);
    transition: 1s;
    animation: reveal 1s ease-in-out forwards;
}

.slider label .footer {
    position: absolute;
    bottom: 100px;
}

@keyframes disappear {
    0% {
        opacity: 1;
        left: 100px;
    }
    70% {
        opacity: 0;
        left: 100px;
    }
    100% {
        opacity: 0;
        left: -300px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


